<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dz.btesto.upmc.jiaanapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IngredientAuto"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.FixedSize" />
        <activity
            android:name=".RecipesDetails"
            android:label="@string/title_activity_recipes_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>